body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

.slidecontainer {
    width: 1000px; /* width of the outside container */
    margin-top: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

/* mouse-over effects */
.slider:hover {
    opacity: 1; /* fully shown on mouse-over */
}

/* canvas and tools overlay */
#container {
    position: relative;
    height: 700px;
    margin-bottom: 15px;
}

#canvas {
    margin: 0px;
    display: inline-block;
    position: relative;
    border: 1px solid #000000;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#palette-container {
    display: inline-block;
    position: absolute;
    width: 100px;
    top: 0;
    margin-left: 1px;
}

#palette-container .palette {
    margin-bottom: 4px;
    cursor: pointer;
}

#swatch-container {
    display: inline-block;
    position: absolute;
    border-top: 4px solid black;
    padding-top: 8px;
    width: 100px;
    top: 369px;
    margin-left: 1px;
}

.swatch {
    display: inline-block;
    border: 2px solid transparent;
    width: 96px;
    height: 20px;
    font-size: 0;
}

/* tools */
#tools {
    width: 90px;
    height: 700px;
    margin: 0px;
    position: absolute;
    background-color: #4d4d4d;
    border: 1px solid #000000;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: inline-block;
}

#tools #fps {
    margin-left: 4px;
    margin-top: 4px;
}

#tools .path {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

#tools .path-name {
    position: relative;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
    width: 60px;
}

#tools .path-toggle {
    position: relative;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: right;
    display: none;
    background-color: white;
    width: 14px;
}

#tools .slide-in {
    animation: slide-in 0.5s forwards;
}

#tools .slide-out {
    animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    0% { opacity: 1; }
    100% { opacity: 0; }
    /*100% { transform: translateX(0%); }*/
}

@keyframes slide-out {
    0% { opacity: 0; }
    100% { opacity: 1; }

    /*0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }*/
}

#tools .path:hover:not(.selected-path) {
    background-color: #d3d3d3;
    color: black;
}

#tools .selected-path {
    background-color: aquamarine;
    color: black;
}

#tools .path-settings {
    display: none;
    background-color: white;
    color: black;
    border-top: 2px solid black;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 0px;
}

#path-editor {
    position: absolute;
    width: 120px;
    height: 692px;
    top: 0px;
    left: 91px;
    color: black;
    background-color: white;
    border: 1px solid #000000;
    padding: 4px;
    opacity: 0.9;
    display: none;
    /*transform: translateX(-100%);*/
    z-index: 2;
}

.path-editor-heading {
    font-weight: bold;
    color: red;
    margin-top: 2px;
    margin-bottom: 6px;
    text-align: center;
}

.path-editor-heading-spacer {
    margin-bottom: 8px;
}

#path-editor #undo {
    float: left;
    cursor: pointer;
    margin-left: 4px;
}

#path-editor #redo {
    float: right;
    cursor: pointer;
    margin-right: 4px;
}

#path-editor #ball-slower {
    cursor: pointer;
}

#path-editor #ball-faster {
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
